.color_fondo_nav:hover{
    .menu-icon:hover{
        color: white !important;
      }
      .color_fondo_nav i:hover{
        color: #fffefe !important;
      }
      
    background: #003D74 !important;
    color: #fffefe !important;
  }